body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Bold";
  src: url("fonts/NeueHaasGroteskDisplay/NeueHaasGroteskDisplayBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Neue Haas Grotesk Display Medium";
  src: url("fonts/NeueHaasGroteskDisplay/NeueHaasGroteskDisplayMedium.ttf")
    format("truetype");
}
.titleFont {
  font-family: "Neue Haas Grotesk Display Bold";
}
.restOfFonts {
  font-family: "Neue Haas Grotesk Display Medium";
}
